*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
entregables/*
!entregables/MEV-Mantenimiento-1.1.0-beta06-debug.apk
tmp/
documentacion/qa/
__pycache__/
*.pyc
